@media (max-width: 23.5rem) {
    body {
        margin-left: 5.625rem;
    }
}

@media (max-width: 25rem) {
    body {
        margin-left: 1.875rem;
    }
}

@media (max-width: 62.5rem) {
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 6.25rem;
    }

    header {
        width: 65%;
        padding: 1.25rem;
    }

    .logo {
        max-height: 40%;
    }

    .right-side-container {
        display: none;
    }

    .right-side {
        position: relative;
    }

    .mobile-nav {
        background-color: hsl(276, 7%, 27%);
        color: white;
        width: 75.6%;
        height: 93.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Karla' ,serif;
        font-size: 1.125rem;
        font-weight: 700;
        padding-top: 1.875rem;
        position: relative;
        top: -28.375rem;
        z-index: -1;
    }
    
    .menu {
        cursor: pointer;
    }

    .close {
        opacity: 0;
        cursor: pointer;
        z-index: -2;
        bottom: 0;
        right: 0;
        position: absolute;
    }
    
    .mobile-nav-link {
        cursor: pointer;
        transition: color 0.15s;
    }

    .mobile-nav-link:hover {
        color: hsl(270, 9%, 17%);
    }
    
    .view-plan-mobile {
        padding: 1.25rem;
        color: white;
        font-weight: 700;
        font-size: 0.938rem;
        letter-spacing: 0.188rem;
        width: 90%;
        border: 0.125rem solid white;
        cursor: pointer;
        background-color: transparent;
        transition: background-color 0.15s;
    }
    
    .view-plan-mobile:hover {
        background-color: white;
        color: hsl(270, 9%, 17%);
    }
    


    .intro {
        width: 100%;
    }

    .image {
        width: 28.688rem;
        height: 28.125rem;
        position: relative;
    }

    .mobile-intro-image {
        width: 75.6%;
        height: 100%;
    }

    .intro-image {
        opacity: 0;
    }

    .intro {
        width: 73.5%;
        padding-left: 0;
        text-align: center;
        height: 28.125rem;
    }

    .humanizing {
        padding: 1.25rem;
        margin-left: 0;
        padding-top: 0;
        margin-top: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .message {
        width: 15.625rem;
        line-height: 180%;
    }

    .humanize-text {
        width: 18.75rem;
        font-size: 2.5rem;
    }

    .humanize-text::before {
        content: 'Hum';
        border-top: none;
        padding-top: 0;
        color: white;
    }

    .section-two {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 6.25rem;
    }

    .dfferent {
        text-align: center;
    }

    .different::before {
        border-top: none;
    }

    .border {
        border-top: 1px solid rgb(197, 197, 197);
        width: 6.25rem;
    }

    .infos {
        flex-direction: column;
    }

    .info {
        justify-content: center;
        align-items: center;
        margin-top: 1.875rem;
    }

    .info-icon {
        max-height: 40%;
        max-width: 25%;
    }

    .info-label {
        margin-bottom: 0;
    }

    .info-text {
        text-align: center;
        width: 16.375rem;
    }

    .find-out-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .find-out {
        text-align: center;
        width: 15.5rem;
    }

    .section-three {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 70.5%;
        margin-top: 6.25rem;
        padding: 0;
        padding-bottom: 1.875rem;
    }

    .left-side-bottom {
        margin-bottom: 1.875rem;
    }

    footer {
        flex-direction: column;
        align-items: center;
        width: 73.5%;
        margin: 0;
        background-color: #fff;
        margin-bottom: 3.125rem;
    }

    .links {
        width: 6.25rem;
        text-align: center;
    } 
}

@media (min-width: 62.5rem) {
    .image {
        display: none;
    }    

    body {
        flex-direction: column;
    }

    .right-side {
        display: none;
    }

    .intro {
        width: 100%;
    }
}